* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    color: #000;
}

body {
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.8) 35%, rgba(119, 0, 96, 0.8) 100%, rgba(0, 146, 255, 0.8) 5%);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: whitesmoke;
    border-radius: 30px;
    max-width: 480px;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-container {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
    padding: 20px 0;
}

.container button {
    padding: 5px 0;
    cursor: pointer;
}

.inner-container input {
    padding: 5px 5px;
    font-size: 18px;
}

.inner-container p {
    background-color: grey;
    width: 100%;
}

.item {
    padding: 6px 0;
}

.item p {
    color: greenyellow;
    background-color: rgb(37, 37, 37);
    font-weight: bold;
    word-break: break-all;
    /* height: 50px; */
}

.container form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
}